@import url("https://fonts.googleapis.com/css?family=Roboto");
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #020202;
    color: #ffffff;
}

.contact {
    padding-left: 2rem;
    padding-top: 2rem;
}

.contact a {
    color: #f1f952;
    text-decoration: none;
}
