@import url("https://fonts.googleapis.com/css?family=Roboto");

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #020202;
    color: #ffffff;
}

.spotlight {
    padding-right: auto; 
    padding-left: auto; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex; 
    justify-content: center;
}


.resume {
    padding-left: 2rem;
    padding-top: 2rem;
}



.resume a {
    color: #f1f952;
    text-decoration: none;
}


@media (max-width: 780px) {
.spotlight iframe {
        width: 95%;
        height: 95%;
    }
}

.color {
    color: #f1f952;
    text-decoration: none;
}

a{
    color: #f1f952;
    text-decoration: none;
}
